name: Despliegue de mi portafolio

on:
  push:
    branches: [ "main" ]
  
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.output.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: action/setup-python@v5
        with:
            python-version: "3.10"
      - run: pip install "pelican[markdown]"
      - name: Construir el sitio de pelican
        run: pelican -o output -s publishconf.py -t theme content
      - uses: actions/configure-pages@v5
      - uses: actions/upload-pages-artifact@v3
        with:
          path: 'output'
      - name: Desplegar mi portafolio
        id: deployment
        uses: actions/deploy-pages@v4

